<% if logged_in?(:site_admin) %>
<p class="blog-post-meta">
  <% if blog.published %>
    <%= link_to blog.status, toggle_status_blog_path(blog)  %>
  <% else %>
    <%= link_to blog.status, toggle_status_blog_path(blog)  %>
  <% end %>
  <%= link_to fa_icon("pencil-square-o"), edit_blog_path(@blog) %>
  <%= link_to fa_icon("trash"), @blog, method: :delete, data: {confirm: "Are you sure?"} %>

</p>
<% end %>
