<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office address</h3>
    <p> Heroja Bračiča 16, 2000 Maribor, Slovenia</p>

    <h3>Phone</h3>
    <p> <%= number_to_phone "38669652555" %></p>

    <h3>Email</h3>
    <p> <a href="mailto:radevdamjan@gmail.com?subject=PortfolioContact">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.
    486065633047!2d15.650181651217396!3d46.557852479026636!2m3!1f0!2f0!3f0!3m2!
    1i1024!2i768!4f13.1!3m3!1m2!1s0x476f77078fa21f3f%3A0x2bfe7cb691010cbb!2sUli
    ca+heroja+Bra%C4%8Di%C4%8Da+16%2C+2000+Maribor!5e0!3m2!1sen!2ssi!4v15429699
    08019" width="450" height="450" frameborder="0" style="border:0"
    allowfullscreen></iframe>
  </div>
</div>
