<% if current_user %>
  <h1>Hi, <%= current_user.name %></h1>
<% end %>
<p>Find me in app/views/pages/home.html.erb</p>
<h2> Blog posts </h2>
<%= @posts.inspect %>
<h2> Skills </h2>

<%  @skill.each do |p| %>
<strong>  <%=  "#{p[:title]}" %></strong> is nice <br>
<% end %>
